@import '~bootstrap/dist/css/bootstrap.min.css';

html{
    margin: 0;
    padding: 0;
    max-width: 1150px;
}

body{
    background-color: #33334d !important;
}

a{
    text-decoration: none;
}

#titlemsg{
    position: sticky;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: blueviolet;
    background-color: #33334d;
}

#titlemsg:hover{
    text-decoration: none;
    color: purple;
}

#loading{
    display: block;
    z-index: 99999;
	width: 20%;
	height: 20vh;
	background-image: url('./assets/imgs/Corona.svg');
	background-repeat: no-repeat;
    margin-left: 35%;
	margin-top: 16%;
	animation-name: corona;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes corona{
	0%{transform: rotate(0deg); background-image: url('./assets/imgs/Corona.svg');}
	20%{transform: scale(1.2,1.2); background-image: url('./assets/imgs/stop.svg');}
	40%{transform: scale(1,1); background-image: url('./assets/imgs/Corona.svg');}
	60%{transform: scale(1.2,1.2); background-image: url('./assets/imgs/stop.svg');}
	80%{transform: scale(1,1); background-image: url('./assets/imgs/Corona.svg');}
	100%{transform: scale(1.2,1.2); background-image: url('./assets/imgs/stop.svg');}
}

#loadmsg{
    display: block;
    color: green;
    font-size: 35px;
    text-align: center;
    animation-name: msg;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes msg{
    0%{color:green;}
    50%{color: red; transform: scale(1.1,1.1);}
    100%{color: green;}
}

#main{
    display: none;
}

@media screen and (max-width: 600px) {
    html{
        max-width: 500px;
    }
    #loadmsg{
        font-size: 20px;
    }
    #loading{
        width: 30%;
        height: 30vh;
    }
    
}